.filters{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.search {
  display: flex;
  height: 48px;
  border-radius: 68px;
  gap: 8px;
  padding: 12px 24px;
  border: 1px solid var(--colorGrey)
}
.search input:focus {
  outline: none;
}
.search input::placeholder {
  color: #A3A3A3;
}
.filter__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: var(--color-black-700);
}
.filter__list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 8px 0;
  max-height: 500px;
  overflow-y: auto;
}
.filter__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  width: fit-content;
  border: 1px solid var(--color-black-200);
  border-radius: 12px;
  background-color: transparent;
  user-select: none;
  cursor: pointer;
}
.filter__button:hover,
.filter__button[aria-pressed="true"] {
  border: 1px solid var(--colorBlue);
  background-color: var(--colorBlue);
  color: var(--colorWhite);
}
.filter__expand {
  color: var(--colorBlue);
}

.filter__button:focus-visible,
.filters__mbl-close:focus-visible {
  outline: 2px solid #0056b3; /* Цвет линии фокуса */
  outline-offset: -2px;       /* Отступ линии от края кнопки */
}
.filter__button:focus-visible {
  border-radius: 12px;
}
.filters__mbl-close:focus-visible {
  border-radius: 50%;
}
.filters__button-mbl {
  display: none;
}
.filters__button-mbl img{
  width: 80%;
}
.filters__mbl-close {
  display: none;
  width: fit-content;
}

@media (max-width: 767px) {
  .filters__button-mbl {
    display: block;
  }
  .filters.filters-mobile {
    display: none;
    position: absolute;
    max-width: 90%;
    left: 5%;
  }
  .filters-mobile.isOpen {
    display: flex;
  }
  .filters__mbl-close {
    display: block;
    align-self: end;
    margin-bottom: 10px;
  }
}